body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clock-container {
  text-align: right;
  width: 100%;
  padding: 20px;
}

#clock {
  font-size: 5em;
}

#date {
  font-size: 2.5em;
}

header {
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

h1 {
  font-size: 4em;
  margin: 0;
}

#quote {
  font-size: 2em;
  margin-top: 10px;
  font-style: italic;
}

.menu-and-calendar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin: 20px auto;
}

.menu-plan-container {
  width: 30%;
  text-align: left;
  margin-right: 20px;
}

table.menu-plan {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.2em;
}

table.menu-plan th, table.menu-plan td {
  border: 1px solid #ddd;
  padding: 10px;
  color: #f0f0f0;
}

table.menu-plan th {
  background-color: #333;
  color: white;
}

table.menu-plan tr:nth-child(even) {
  background-color: #444;
}

table.menu-plan tr:hover {
  background-color: #555;
}

.grid-container {
  width: 65%;
}

.grid-item {
  margin-bottom: 20px;
}

.pink-background {
  background: linear-gradient(135deg, #ff9a9e, #ff9966);
  padding: 10px;
  color: #fff;
}

.navyleft {
  background: linear-gradient(135deg, #ff0000, #0000ff);
  padding: 10px;
  color: #fff;
}

.weather-container {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

iframe {
  border: none;
  width: 100%;
  height: 800px;
}

.flag-widget-container {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 134px;
  height: 225px;
}

@media (max-width: 1920px) {
  body {
    font-size: 1.2em;
  }

  #clock {
    font-size: 4em;
  }

  #date {
    font-size: 2em;
  }

  h1 {
    font-size: 3em;
  }

  #quote {
    font-size: 1.5em;
  }

  table.menu-plan {
    font-size: 1em;
  }

  iframe {
    height: 700px;
  }
}